.frame1-container {
  min-height: 100hv;
}
.frame1-frame1 {
  width: 100%;
  height: 1024px ;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame1-trustshield1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  border-color: transparent;
}
.frame1-text {
  top: 148px;
  left: 241px;
  color: rgba(255, 255, 255, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text02 {
  top: 236px;
  left: 290px;
  color: rgba(255, 255, 255, 1);
  width: 190px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text07 {
  top: 357px;
  left: 290px;
  color: rgba(255, 255, 255, 1);
  width: 222px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text12 {
  top: 499px;
  left: 290px;
  color: rgba(255, 255, 255, 1);
  width: 193px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text17 {
  top: 65px;
  left: 483px;
  color: rgba(255, 255, 255, 1);
  width: 603px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-frame2 {
  top: 183px;
  left: 682px;
  width: 634px;
  height: 491px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle1 {
  top: 96px;
  left: 247px;
  width: 207px;
  height: 44px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);

}
.frame1-text19 {
  top: 100px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 159px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text21 {
  top: 198px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-rectangle2 {
  top: 196px;
  left: 247px;
  width: 207px;
  height: 44px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.frame1-rectangle3 {
  top: 284px;
  left: 298px;
  width: 107px;
  height: 44px;
  position: absolute;
  border-color: transparent;
}
.frame1-text23 {
  top: 286px;
  left: 297px;
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-text25 {
  top: 353px;
  left: 332px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-rectangle4 {
  top: 421px;
  left: 297px;
  width: 110px;
  height: 39px;
  position: absolute;
  border-color: transparent;
}
.frame1-text27 {
  top: 423px;
  left: 297px;
  color: rgba(0, 0, 0, 1);
  width: 107px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame1-download21 {
  top: 19px;
  left: 1118px;
  width: 154px;
  height: 148px;
  position: absolute;
  border-color: transparent;
}
